<div class="row">
  <div class="col-9">
    <table class="table table-primary table-striped table-hover table-bordered mt-5">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Stocks Tracked</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <th scope="row"><%= friend.first_name %></th>
          <td><%= friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.stocks.count %></td>
          <td>
            <%= link_to "View Profile", user_path(friend),
                                        class: "btn btn-success" %>
            <%= link_to "Unfriend", friend_path(friend), method: :delete,
                data: { confirm: "You want to unfriend #{friend.full_name}?"},
                class: 'btn btn-sm btn-outline-warning' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
